################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Odeux/images/UCA.png
/Odeux/.vs/Odeux/FileContentIndex/6044f098-9d0c-464a-888e-6c53621fed2a.vsidx
/Odeux/.vs/Odeux/FileContentIndex/ce8bb2fa-496d-406b-9a0f-fccb859bf5df.vsidx
/Odeux/.vs/Odeux/FileContentIndex/8f9937fe-9e3d-4a29-8bcf-72b13da6d044.vsidx
/Odeux/.vs/Odeux/FileContentIndex
